---
import MainLayout from '../layouts/MainLayout.astro';
import { TrendingTags } from '../components/TrendingTags';
import { RecentSnippets } from '../components/RecentSnippets';
---

<MainLayout title="SnippetStore - Find and Share Code Snippets">
  <div class="max-w-7xl mx-auto px-4 py-12 space-y-12">
    {/* Trending Tags */}
    <div class="flex justify-center">
      <TrendingTags client:load />
    </div>

    {/* Recent Snippets */}
    <div class="flex justify-center">
      <RecentSnippets client:load />
    </div>
  </div>
</MainLayout>